{
  "presets": ["next/babel"],
  "env": {
    "production": {
      "plugins": [
        [
          "react-intl",
          {
            "removeDefaultMessage": true,
            "idInterpolationPattern": "[sha512:contenthash:base64:6]",
            "extractFromFormatMessageCall": true,
            "ast": true
          }
        ],
        "graphql-tag"
      ]
    }
  }
}
